src/main/app/proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:mock="http://www.mulesoft.org/schema/mule/mock" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
        xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
        xmlns:proxy="http://www.mulesoft.org/schema/mule/proxy"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/proxy http://www.mulesoft.org/schema/mule/proxy/current/mule-proxy.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/mock http://www.mulesoft.org/schema/mule/mock/current/mule-mock.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <configuration defaultProcessingStrategy="non-blocking" doc:name="Configuration"/>

    <context:property-placeholder location="config.properties" ignore-resource-not-found="true" ignore-unresolvable="true" system-properties-mode="OVERRIDE"/>

    <http:request-config
      name="http-request-config"
      host="${implementation.host}"
      port="${implementation.port}"
      basePath="${implementation.path}" doc:name="HTTP Request Configuration"/>
      
    <http:request-config
      name="http-apilog-request-config"
      host="${implementation.host}"
      port="${implementation.port}"
      basePath="${implementation.logs.path}" doc:name="HTTP API-Log Request Configuration"/>

    <proxy:raml-proxy-config name="proxy-config" raml="${raml.location}" disableValidations="true"/>

    <api-platform-gw:api apiName="${api.name}" version="${api.version}" apikitRef="proxy-config" flowRef="proxy" create="true" doc:name="API Autodiscovery">
    </api-platform-gw:api>

    <flow name="health-check">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="/" doc:name="HTTP"/>
        <set-property propertyName="http.status" value="200" doc:name="Set 200 Status Code"/>
        <set-variable variableName="response.title" value="Heartbeat" doc:name="Set Response Title"/>
        <set-variable variableName="response.details" value="" doc:name="Set Response Details"/>
        <set-payload value="OK" doc:name="Set Status Code" mimeType="application/java"/>
        <flow-ref name="transform-to-jsonapi-response_flow" doc:name="transform-to-jsonapi-response_flow"/>
    </flow>

    <flow name="proxy" >
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="${proxy.path}" parseRequest="false" doc:name="HTTP"/>
        <set-variable variableName="transactionId" value="#[(message.inboundProperties['${correlation.id.name}'] != null) ? message.inboundProperties['${correlation.id.name}'] : java.util.UUID.randomUUID().toString().replace('-', '')]" doc:name="Set Transaction ID" doc:description="There may be a policy applied to this API which prevents anything without a Correlation ID from getting through (filtrered) : If this is the case, this step won't even be reached as the message will filtered.

However, if there is no such policy in place  and there is NO Correlation-ID in the header, then this step will allocate a new one for the rest of this message processing and pass it to the downstream API."/>
        
        
        <logger message="{ &quot;transaction&quot;: &quot;#[flowVars.transactionId]&quot;, &quot;request&quot;: &quot;#[message.inboundProperties['http.method']] #[message.inboundProperties['http.request.uri']]&quot; }" level="INFO" doc:name="Logger" category="Audit" />
        <response>
            <choice doc:name="Choice">
                <when expression="#[flowVars.errorRaised != null &amp;&amp; flowVars.errorRaised == true]">
                    <set-payload value="#[payload]" doc:name="Pass Through"/>
                </when>
                <otherwise>
                    <logger message="{ &quot;transaction&quot;: &quot;#[flowVars.transactionId]&quot;, &quot;response&quot;: &quot;#[message.outboundProperties['http.status']]&quot; }" level="INFO" category="Audit" doc:name="Logger"/>
                </otherwise>
            </choice>
        </response>
        
        <custom-processor class="com.mulesoft.gateway.extension.ProxyRequestHeadersProcessor" doc:name="Custom_Processor"/>
        <proxy:raml config-ref="proxy-config"/>
        <http:request config-ref="http-request-config" method="#[message.inboundProperties['http.method']]" path="#[message.inboundProperties['http.request.path'].substring(message.inboundProperties['http.listener.path'].length()-2)]" parseResponse="false" doc:name="HTTP">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599" />
        </http:request>
        <custom-processor class="com.mulesoft.gateway.extension.ProxyResponseHeadersProcessor" doc:name="Custom_Processor"/>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy" />
    </flow>

    <flow name="console" >
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="${console.path}" parseRequest="false" doc:name="HTTP"/>
        <apikit:console config-ref="proxy-config" doc:name="APIkit Console"/>
    </flow>
    
    
    
     <flow name="ListPoliciesFlow" processingStrategy="synchronous">
     	<http:listener config-ref="http-lc-0.0.0.0-8081" path="${policies.path}" doc:name="HTTP"/>
        <logger message="{ &quot;transaction&quot;: &quot;#[flowVars.transactionId]&quot;, &quot;request&quot;: &quot;#[message.inboundProperties['http.method']] #[message.inboundProperties['http.request.uri']]&quot;} - Requesting Policy from ${policies.dir}" level="INFO" doc:name="Logger"/>
     	<set-variable variableName="policies" value="#[new java.util.LinkedHashMap()]" doc:name="Set Policies Var"/>
        <set-property propertyName="http.status" value="200" doc:name="Set 200 Status Code"/>
        <foreach collection="#[org.mule.util.FileUtils.listFiles(new java.io.File('${policies.dir}'), {&quot;xml&quot;},false)]" doc:name="For Each">
            <logger message="Found Policy : #[payload]" level="INFO" doc:name="Logger"/>
            <expression-component doc:name="StoreToArray"><![CDATA[#[flowVars['policies'].put( payload.getName(), org.mule.util.FileUtils.readFileToString(new java.io.File(payload)) ) ]]]></expression-component>
        </foreach>
        <set-variable variableName="response.title" value="Policies" doc:name="Set Response Title"/>
        <set-variable variableName="response.details" value="#['Policies:' +  sizeOf(flowVars['policies'])]" doc:name="Set Response Details"/>
        <set-payload value="OK" doc:name="Set Status Code" mimeType="application/java"/>
        <flow-ref name="transform-to-jsonapi-response_flow" doc:name="transform-to-jsonapi-response_flow"/>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
 	 </flow>
    <flow name="Api-Log-Passthrough-Flow">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="${proxy.logs.path}" doc:name="HTTP Logs" allowedMethods="GET"/>
        <logger message="{ &quot;transaction&quot;: &quot;#[flowVars.transactionId]&quot;, &quot;request&quot;: &quot;#[message.inboundProperties['http.method']] #[message.inboundProperties['http.request.uri']]&quot;} - API Log request - Pass-Through to API Impl : ${implementation.host}:${implementation.port}${implementation.logs.path}" level="INFO" doc:name="Logger"/>
        <http:request config-ref="http-apilog-request-config" method="#[message.inboundProperties['http.method']]" path="/" parseResponse="false" doc:name="HTTP API-Logs">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599" />
        </http:request>
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    
    
</mule>
